{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h2 class="title"> Liste des enregistrements </h2>
        </div>
        {% if registrations|length > 0 %}
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="alert alert-success">
                    <strong>{{ goldCustomer.firstName }} {{ goldCustomer.lastName }} </strong> est le client le plus
                    rentable avec un prix total d'achat égale à :
                    <span class="price"> {{ goldCustomer.sumPrice|number_format(2, '.', ' ') }}  € </span>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="dataTables_wrapper dt-bootstrap4">
                                <table id="order-table"
                                       class="table table-hover table-striped table-bordered dataTable dtr-inline"
                                       >
                                    <thead>
                                    <tr>
                                        <th class="text-center">Client</th>
                                        <th class="text-center">Contact Mail</th>
                                        <th class="text-center">Nombre de matériels</th>
                                        <th class="text-center">Prix Totale</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for registration in registrations %}
                                        <tr>
                                            <td class="text-center text-muted"
                                                style="white-space: pre-wrap">{{ registration.firstName }} {{ registration.lastName }}</td>
                                            <td class="text-center text-muted"
                                                style="white-space: pre-wrap">{{ registration.email }}</td>
                                            <td class="text-center text-muted"
                                                style="white-space: pre-wrap">{{ registration.countMateriel }}</td>
                                            <td class="text-center text-muted"
                                                style="white-space: pre-wrap">{{ registration.sumPrice|number_format(2, '.', ' ') }}  €
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% else %}
                                <div class="dataTables_wrapper dt-bootstrap4">
                                    <div class="alert alert-warning" role="alert">
                                        Aucun enregistrement enregistré
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
